# Data collected from OP's website op-koti.fi. Initially I used webscraping technique to collect data. But using the API was more dynamic and easy to handle

In [50]:
import numpy as np
import pandas as pd
import requests
# import math
import re
from pandas import json_normalize

pd.options.display.max_columns = None
# display(df)

In [51]:
URL = 'https://op-koti.fi/api/apartments?mode=sale&featureGroup=apartment&orderBy=created&order=desc&offset=0&limit=4500'
# request the URL and parse the JSON
response = requests.get(URL)
response.raise_for_status() # raise exception if invalid response
data = response.json()['listings']

# # normalizing the json data into a dataframe
df = json_normalize(data, max_level = 1)

In [52]:
df.head(10)

,id,kipinaId,listingType,commission,listingGroup,source,created,featureGroups,floor,year,imageUrl,showings,siteArea,rooms,numberOfRooms,price,debtFreePrice,rentPerMonth,location.streetAddress,location.postalCode,location.postOffice,location.city,location.cityId,location.region,location.regionId,location.district,location.districtId,location.streetId,location.coordinates,housing.livingArea,housing.totalArea,housing.rooms,housing.numberOfRooms,pricing.price,pricing.debtFreePrice,livingArea.size,livingArea.displayUnit,totalArea.size,totalArea.displayUnit,videoUrl,virtualPresentationUrl,housing.siteArea,siteArea.size,siteArea.displayUnit,livingArea,totalArea,newHousing.newHousingId,newHousing.name
0,693716,418413,89,O,82,Kipinä,2021-11-24T14:11:28.025Z,[apartment],0.0,1971.0,https://op-koti.fi/kuvat/693716/6f5d2b208f83ce...,[],NaN,"K,oh,mh,ph/wc,et+lasitettu parveke",2.0,35076.52,40000.0,None,Evertintie 16 A,31400,SOMERO,Somero,761,Somero,387,Joensuu,9764.0,c307337becb9a3bb97a5c31f3ab6bff2607a5c0b,"{'latitude': 60.62667, 'longitude': 23.52478}","{'size': 54.5, 'displayUnit': 'm2'}","{'size': 54.5, 'displayUnit': 'm2'}","K,oh,mh,ph/wc,et+lasitettu parveke",2.0,35076.52,40000.0,54.5,m2,54.5,m2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,519979,444663,90,K,82,Kipinä,2021-11-24T14:11:20.787Z,[apartment],0.0,1965.0,https://op-koti.fi/kuvat/519979/fac3af7d1c35aa...,[],NaN,tupak+2mh+et+wc+pkh+kph+s,3.0,73000.00,NaN,None,Käkirinteentie 5,88900,KUHMO,Kuhmo,290,Kuhmo,203,405 Korpisalmi,3619.0,c7c2e2074fa402fef16062d9380ed3e910ce4e90,NaN,"{'size': 100, 'displayUnit': 'm2'}","{'size': 130, 'displayUnit': 'm2'}",tupak+2mh+et+wc+pkh+kph+s,3.0,73000.00,NaN,100.0,m2,130.0,m2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,519951,444635,90,K,82,Kipinä,2021-11-24T14:11:14.458Z,[apartment],NaN,1970.0,https://op-koti.fi/kuvat/519951/94c8064862f6d4...,[],NaN,7-6h+k+s,6.0,165000.00,NaN,None,Lyhteentie 9,28360,PORI,Pori,609,Pori,325,Herralahti,6496.0,2c80160e1439c27e40053006aec420906d84df1f,"{'latitude': 61.47696, 'longitude': 21.83103}","{'size': 260, 'displayUnit': 'm2'}","{'size': 325, 'displayUnit': 'm2'}",7-6h+k+s,6.0,165000.00,NaN,260.0,m2,325.0,m2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,519504,444190,90,K,82,Kipinä,2021-11-24T14:11:14.101Z,[apartment],0.0,1985.0,https://op-koti.fi/kuvat/519504/cef78ff4e5974a...,"[{'showingType': 'unknown', 'date': '28.11.', ...",NaN,"3mh,tkh,oh,k,s",5.0,249000.00,NaN,None,Rokosinantie 1,33450,SIIVIKKALA,Ylöjärvi,980,Ylöjärvi,468,Siivikkala,6886.0,f93156efb605ba9633ee6694b364a953f0a1b87f,"{'latitude': 61.55463, 'longitude': 23.66464}","{'size': 158, 'displayUnit': 'm2'}","{'size': 202, 'displayUnit': 'm2'}","3mh,tkh,oh,k,s",5.0,249000.00,NaN,158.0,m2,202.0,m2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,519586,444272,91,O,82,Kipinä,2021-11-24T14:11:11.316Z,[apartment],1.0,1980.0,https://op-koti.fi/kuvat/519586/0801da72e5bcb7...,[],NaN,"2 h, k, kph, s, vh",2.0,105000.00,105000.0,None,Kotkantie 3-5 AS,37600,VALKEAKOSKI,Valkeakoski,908,Valkeakoski,434,Kokkola,4512.0,7662612478fbb2bb26a0d1741db62cd7cde9a155,"{'latitude': 61.2558, 'longitude': 24.05647}","{'size': 60, 'displayUnit': 'm2'}","{'size': 60, 'displayUnit': 'm2'}","2 h, k, kph, s, vh",2.0,105000.00,105000.0,60.0,m2,60.0,m2,https://youtu.be/Fo3o_xORETU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,519985,444669,89,O,82,Kipinä,2021-11-24T14:11:10.728Z,[apartment],4.0,1957.0,https://op-koti.fi/kuvat/519985/5d60406c49a540...,"[{'showingType': 'live', 'date': '1.12.', 'sta...",NaN,"3h, k, kph, parveke",3.0,53177.86,59500.0,None,Kauppakatu 20 A,18100,HEINOLA,Heinola,111,Heinola,39,Keskusta,375.0,bfdfbe0b8749f9290c0333d0346c642489959145,"{'latitude': 61.20094, 'longitude': 26.0357}","{'size': 63, 'displayUnit': 'm2'}","{'size': 63, 'displayUnit': 'm2'}","3h, k, kph, parveke",3.0,53177.86,59500.0,63.0,m2,63.0,m2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,519587,444273,90,K,82,Kipinä,2021-11-24T14:11:09.973Z,[apartment],0.0,1977.0,https://op-koti.fi/kuvat/519587/418f5b8f814f3e...,[],NaN,"4h, k, s",4.0,99000.00,NaN,None,Ratatie 16,42700,KEURUU,Keuruu,249,Keuruu,175,Karjola,13022.0,746892b8c759ae96ff39ac96affcad2c35ca5fe1,"{'latitude': 62.2528, 'longitude': 24.72792}","{'size': 116, 'displayUnit': 'm2'}","{'size': 143, 'displayUnit': 'm2'}","4h, k, s",4.0,99000.00,NaN,116.0,m2,143.0,m2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,519868,444552,93,O,82,Kipinä,2021-11-24T14:10:59.604Z,[apartment],0.0,2019.0,https://op-koti.fi/kuvat/519868/f6ead2ae770cb2...,[],NaN,"3-4h,k,s,varastot",4.0,345000.00,345000.0,None,Porkkanatie 10 C,04410,JÄRVENPÄÄ,Järvenpää,186,Järvenpää,143,Peltola,1220.0,1bbbc1fec8322f49fbd58e5ff480552355d8318a,"{'latitude': 60.49444, 'longitude': 25.08796}","{'size': 101, 'displayUnit': 'm2'}","{'size': 109, 'displayUnit': 'm2'}","3-4h,k,s,varastot",4.0,345000.00,345000.0,101.0,m2,109.0,m2,NaN,https://my.matterport.com/show/?m=yqQwBAnSJKL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,519467,444153,90,K,82,Kipinä,2021-11-24T14:10:43.475Z,[apartment],0.0,2019.0,https://op-koti.fi/kuvat/519467/990991c990f13b...,"[{'showingType': 'unknown', 'date': '28.11.', ...",NaN,4h+k+khh+kph+s,4.0,279000.00,NaN,None,Kyntzellinkatu 5,60200,SEINÄJOKI,Seinäjoki,743,Seinäjoki,376,Kärki,4211.0,e37167b7102e966fa9f28318a000532513772979,"{'latitude': 62.73738, 'longitude': 22.88329}","{'size': 108, 'displayUnit': 'm2'}","{'size': 118, 'displayUnit': 'm2'}",4h+k+khh+kph+s,4.0,279000.00,NaN,108.0,m2,118.0,m2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,519409,444095,89,O,82,Kipinä,2021-11-24T14:10:22.059Z,[apartment],7.0,2019.0,https://op-koti.fi/kuvat/519409/908ceb67d4869b...,[],NaN,"2h,kt,kph,parveke",2.0,72432.25,189000.0,None,Aulangontie 1 C A,13210,HÄMEENLINNA,Hämeenlinna,109,Hämeenlinna,113,Asemantaka,6815.0,067236f1d9573873a8cf0c6999024c1132d53f7e,"{'latitude': 61.00169, 'longitude': 24.48283}","{'size': 47.5, 'displayUnit': 'm2'}","{'size': 47.5, 'displayUnit': 'm2'}","2h,kt,kph,parveke",2.0,72432.25,189000.0,47.5,m2,47.5,m2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It can be seen above that the dataframe contains multiple columns that are irrelevant to us. Relevant columns are selected as shown below.

In [53]:
df.columns

Index(['id', 'kipinaId', 'listingType', 'commission', 'listingGroup', 'source',
       'created', 'featureGroups', 'floor', 'year', 'imageUrl', 'showings',
       'siteArea', 'rooms', 'numberOfRooms', 'price', 'debtFreePrice',
       'rentPerMonth', 'location.streetAddress', 'location.postalCode',
       'location.postOffice', 'location.city', 'location.cityId',
       'location.region', 'location.regionId', 'location.district',
       'location.districtId', 'location.streetId', 'location.coordinates',
       'housing.livingArea', 'housing.totalArea', 'housing.rooms',
       'housing.numberOfRooms', 'pricing.price', 'pricing.debtFreePrice',
       'livingArea.size', 'livingArea.displayUnit', 'totalArea.size',
       'totalArea.displayUnit', 'videoUrl', 'virtualPresentationUrl',
       'housing.siteArea', 'siteArea.size', 'siteArea.displayUnit',
       'livingArea', 'totalArea', 'newHousing.newHousingId',
       'newHousing.name'],
      dtype='object')

In [54]:
cols = ['id', 'listingType', 'floor', 'year', 'rooms', 'numberOfRooms', 'price', 'debtFreePrice',
       'location.city', 'location.region', 'location.district','location.postalCode',
       'livingArea.size', 'totalArea.size']

df = df[cols]

Renaming the cols

In [55]:
df = df.rename(columns = {'location.city':'city','location.region':'region','location.district':'district','location.postalCode':'postalCode','livingArea.size':'livingArea','totalArea.size':'totalArea', 'year':'yearBuilt'})

Mapping the listingType column to the apporpriate type of house (extracted from the website manually)

In [56]:
lType = {89:'Kerrostalo',90:'Omakotitalo',91:'Rivitalo',92:'Paritalo',93:'Erillistalo',112:'Puutalo',113:'Luhtitalo',470:'Kytketty paritalo'}
df['listingType'] = df['listingType'].map(lType)

In [57]:
# some values in df.district are ''. So i decided to fill them with np.nan and then remove them altogether in the next step
df[df.district == ''] = np.nan

In [58]:
def count_NAs(df):
    for col in df:
        print(col," : ",df[col].isnull().sum())
        
# def homeSizeLabels(area):
#     """these ranges were calulated by using pd.cut(). 1=Smallest...4=Largest"""
#     if area in range(0,100):
#         return 1
#     elif area in range(100,175):
#         return 2
#     elif area in range(175,250):
#         return 3
#     else:
#         return 4

In [59]:
# df = df.dropna(inplace = True)
count_NAs(df)

id  :  185
listingType  :  185
floor  :  927
yearBuilt  :  191
rooms  :  298
numberOfRooms  :  298
price  :  297
debtFreePrice  :  1241
city  :  185
region  :  185
district  :  185
postalCode  :  185
livingArea  :  298
totalArea  :  298

There are some columns with null values for debtFreePrice. Those values are replaced by price.

In [60]:
df.loc[df.debtFreePrice.isnull() & df.price.notnull(),['debtFreePrice']] = df.price

Calculating building age from 'yearBuilt'. Some buildings are supposed to be completed in the future. So any building that gets completed in the future year are also grouped into '1 year old buildings'

In [61]:
df['buildingAge'] = [1 if x > 2021 else (pd.to_datetime('today').year - pd.to_datetime(x, format = "%Y").year) for x in df.yearBuilt]
# df['centrum'] = [1 if x == 'Keskusta' else 0 for x in df.district]
# df['howBig'] = [homeSizeLabels(x) for x in df.livingArea]

In [62]:
# hideRows = ['listingGroup', 'yearBuilt', 'imageUrl', 'streetAddress', 'postalCode', 'region', 'link']
df.drop('yearBuilt', axis = 1, inplace = True)
df.reset_index(drop = True)

,id,listingType,floor,rooms,numberOfRooms,price,debtFreePrice,city,region,district,postalCode,livingArea,totalArea,buildingAge
0,693716,Kerrostalo,0.0,"K,oh,mh,ph/wc,et+lasitettu parveke",2.0,35076.52,40000.0,Somero,Somero,Joensuu,31400,54.5,54.5,50.0
1,519979,Omakotitalo,0.0,tupak+2mh+et+wc+pkh+kph+s,3.0,73000.00,73000.0,Kuhmo,Kuhmo,405 Korpisalmi,88900,100.0,130.0,56.0
2,519951,Omakotitalo,NaN,7-6h+k+s,6.0,165000.00,165000.0,Pori,Pori,Herralahti,28360,260.0,325.0,51.0
3,519504,Omakotitalo,0.0,"3mh,tkh,oh,k,s",5.0,249000.00,249000.0,Ylöjärvi,Ylöjärvi,Siivikkala,33450,158.0,202.0,36.0
4,519586,Rivitalo,1.0,"2 h, k, kph, s, vh",2.0,105000.00,105000.0,Valkeakoski,Valkeakoski,Kokkola,37600,60.0,60.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3290,kiinteisto-oy-joensuun-koskikatu-9,Kerrostalo,NaN,None,NaN,NaN,NaN,Joensuu,Joensuu,Keskusta,80100,NaN,NaN,6.0
3291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3292,604375,Kerrostalo,1.0,"1h,k",1.0,18500.00,18500.0,Virrat,Virrat,Nallela,34800,30.0,30.0,51.0
3293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3294,592934,Rivitalo,1.0,"2h, k",2.0,126000.00,126000.0,Rauma,Rauma,Ota,26100,81.0,81.0,85.0

The values in the 'rooms' column are separated using , or + or . or * and need to be cleaned

In [63]:
df.dropna(inplace = True)
count_NAs(df)

id  :  0
listingType  :  0
floor  :  0
rooms  :  0
numberOfRooms  :  0
price  :  0
debtFreePrice  :  0
city  :  0
region  :  0
district  :  0
postalCode  :  0
livingArea  :  0
totalArea  :  0
buildingAge  :  0

In [64]:
def clean_rooms(item):
    delimiters = "+", ","
    # >>> example = "stackoverflow (c) is awesome... isn't it?"
    regexPattern = '|'.join(map(re.escape, delimiters))
    return([re.sub('\\+|,|\\.|\\*| ', '', x) for x in re.split(regexPattern, item)])

df.rooms = [clean_rooms(x) for x in df.rooms]

In [71]:
df.head()
df.rooms[1]

['tupak', '2mh', 'et', 'wc', 'pkh', 'kph', 's']

These functions take a single entry from df.rooms and detects the features. These features are then represented with new columns using 1 or 0 denoting the presence or absence of the feature

In [28]:
def detect_centrum(postalCode):
    if postalCode[2:] == '100':
        return 1
    else:
        return 0

df['centrum'] = [detect_centrum(x) for x in df.postalCode]

def detect_sauna(room): #v4
    if 's' in room or str(room).find('sauna') != -1:
        return 1
    else:
        return 0
df['hasSauna'] = [detect_sauna(x) for x in df.rooms]

def detect_balcony(room): #v3
    if 'p' in room or str(room).find('parv') != -1:
        return 1
    else:
        return 0
df['hasBalcony'] = [detect_balcony(x) for x in df.rooms]

def detect_parking(room): #v3
    if 'ak' in room or 'at' in room or str(room).find('auto') != -1:
        return 1
    else:
        return 0
df['hasParking'] = [detect_parking(x) for x in df.rooms]

def detect_walk_in_closet(room): #v3
    if 'v' in room or 'vh' in room or str(room).find('vaate') != -1:
        return 1
    else:
        return 0
df['hasWalkInCloset'] = [detect_walk_in_closet(x) for x in df.rooms]

def detect_storage_room(room):
    if str(room).find('var') != -1:
        return 1
    else:
        return 0
df['hasStorageRoom'] = [detect_storage_room(x) for x in df.rooms]

In [29]:
df.drop('rooms', axis = 1, inplace = True)

In [30]:
df['id'] = df['id'].astype(str)
df['floor'] = df['floor'].astype(int)
df['numberOfRooms'] = df['numberOfRooms'].astype(int)
df['postalCode'] = df['postalCode'].astype(str)
df['buildingAge'] = df['buildingAge'].astype(int)

Exporting the dataframe to a csv file

In [31]:
df.to_csv(f'op-koti.csv', sep=',', encoding='utf-8', index=False)